---
import Featured from '../components/Featured.astro';
import Footer from '../components/Footer.astro';
import GetInTouch from '../components/GetInTouch.astro';
import Header from '../components/Header.astro';
import Layout from '../layouts/Layout.astro';
import RecentWork from '../components/RecentWork.astro';
import ThemeIcon from './ThemeIcon.astro';


const title = 'Choco.ink';
---

<Layout {title}>
	<Header />

	<div id="main">
		<Featured />
		<RecentWork />
<ThemeIcon />
	</div>

	<Footer />
</Layout>
