<!-- One -->
<section id="one">
	<header class="major">
		<h2>Fediverse（Firefish）
		</h2>
	</header>
	<p>
		<i class="icon solid fa-rocket"></i> <a rel="me" href="https://milk.choco.ink/@tachibana">tachibana@milk.choco.ink</a><br />
		Firefishのおひとり様サーバー。日常壁打ちアカウント。<br />
		ただし心が疲れているときは浮上しなくなります。
	</p>
		<div class="iframe-wrapper">
			<iframe id="iframe-rss" src="https://polkadot.blue/lp/feed-2/"></iframe><br />
		</div>
	<ul class="actions">
		<li><a rel="me" href="https://milk.choco.ink/@tachibana">Learn More</a></li>
	</ul>
</section>
