<!-- One -->
<section id="one">
	<header class="major">
		<h2>Fediverse（Firefish）
		</h2>
	</header>
		<div class="iframe-wrapper">
			<iframe id="iframe-rss" src="https://polkadot.blue/lp/feed-2/"></iframe><br />
		</div>
	<p>
		Firefishのおひとり様サーバー。日常壁打ちアカウント。<br />
		ただし心が疲れているときは浮上しなくなります。
	</p>
	<ul class="actions">
		<li><a href="https://milk.choco.ink/@tachibana" class="button">Learn More</a></li>
	</ul>
</section>
