<!-- Footer -->
<footer id="footer">
	<div class="inner">
		<ul class="icons">
			<li>
				<a href="https://milk.choco.ink/@tachibana" class="fa-solid fa-rocket"><span class="label">@tachibana@milk.choco.ink</span></a>
			</li>
			<li>
				<a href="https://polkadot.blue" class="fa-solid fa-camera"><span class="label">Github</span></a>
			</li>
			<li>
				<a href="#" class="icon solid fa-envelope"><span class="label">Email</span></a>
			</li>
		</ul>
		<ul class="copyright">
			<li>&copy; choco.ink</li>
			<li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
			<li>Powered by <a href="https://astro.build">Astro</a></li>
		</ul>
	</div>
</footer>
