---
import avatar from '../assets/avatar.jpg';
import ThemeIcon from './ThemeIcon.astro';
---

<!-- Header -->
<header id="header">
	<div class="inner">
		<a href="#" class="image avatar"><img src={avatar} alt="" /></a>
		<h1>
			<strong>たちばな</strong><br />

		</h1>
		ここにプロフィール入れる
	</div>
</header>
