---
import avatar from '../assets/avatar.jpg';
---

<!-- Header -->
<header id="header">
	<div class="inner">
		<a href="#" class="image avatar"><img src={avatar} alt="" /></a>
		<h1>
			<strong>たちばな</strong><br />
		</h1>
		<p>おやつがないと生きていけないなまけもの<br />写真を撮ったり刺し子をちくちくしたりして<br />ちんまり暮らしています</p>
	</div>
</header>
